<%- include("header") -%>

  <!-- ABOUT -->

  <section id="about">
    <div class="textAbout col-lg-12">
      <h2>I'm a network system engineer with 10 years of experience in ICT services, Service delivery and Network operations for a large-scale Telecom industries.</h2>
      <h2>I've worked for Sprint/T-Mobile & AT&T projects. A data-driven professional who specializes in cross-cultural Telecom business, technical project planning, solution design, team design and training.</h2>
    </div>
 
  </section>
  
<%- include("footer") -%>