<%- include("header") -%>

<!-- cover -->
<section id="cover">
    <div class="container-fluid">
      <div class="row">
        <div class="textTitle col-lg-6 ">
          <h1>Network geek & Tester by nature.</h1>
        </div>
        <div class="col-lg-6">
          <img class="dpImage" src="images/thumbnail dp.jpg" alt="dp">
        </div>
      </div>
    </div>
  </section>

<%- include("footer") -%>