<%- include("header") -%>

  <!-- Experience -->

  <section id="experience">
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">QA Test Engineer</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <h4>Software Testing on AT&T APPs. that Design, Orchestrate and Integrate the 4G & 5G Access Network.</h4>
              <p>Software testing: Develops test plans for Network design applications and features that implement Fronthaul Gateway & Converged Access Switch (FHG/CAS) solution and detail E2E functionality to execute 1000 ́s of scenarios for Transport integration to 5G RAN.</p>
              <p>Root cause analysis: Data Analysis on 100 ́s SQL tables and system logs to triage network constraints or system boundaries, including APIs to internal and external systems.</p>
              <p>Automation: Build and maintain Java scripts to run Regression scenarios with TestNG.</p>
              <p>Soft skills: Interacts AT&T customer technical staff, operation managers, service engineers
                and 3rd partner teams (e.g. Infosys, Amdocs) to orchestrate E2E system testing.</p>
            </ul>
             <!--
            <button type="button" class="w-100 btn btn-lg btn-primary">Read more</button>
            -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">Test Architect </h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <h4>Testing on Sprint / T-Mobile APPs. in systems of eCommerce and Networking.</h4>
              <p>Software testing: Develops test plans for Sales, Network Design and Orchestration
                applications and features that implement MPLS/DIA solution and detail E2E functionality to
                execute 100000 ́s of Wireline scenarios.</p>
              <p>Root cause analysis: Data Analysis for upstream and downstream applications to triage
                Network or Sales constraints and debugging system boundaries.</p>
              <p>Automation: Build and maintain No code Regression scenarios with HP ALM.</p>
            </ul>
             <!--
            <button type="button" class="w-100 btn btn-lg btn-primary">Read more</button>
            -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">Senior Tester</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <h4>Testing on Sprint APPs. in systems of eCommerce and Networking.</h4>
              <p>Software testing: Executes tests for eCommerce solutions on B2B & B2C models of Wireline Network products and Internal systems such as Presales, Quoting and Delivering software, including Network Intranet solution for Orchestration and Integration Systems.</p>
              <p>Incident management: Logging defects, testing/retesting defects, tracking progress and results and reporting status to the QA lead.</p>
            </ul>
             <!--
            <button type="button" class="w-100 btn btn-lg btn-primary">Read more</button>
            -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">WCore Network Support Engineer</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <h4>2nd level support operations on Sprint Customer network for North America Southwest and Southeast regions.</h4>
              <p>Network Support: Offering NOC services to diagnose, troubleshoot and debug 100000 ́s of Core & Access components (e.g. VSE, vGWC, MGW, eBSC, AEC, NETRA T5220/CP3060, SE1200, 10K, ASR9K, EDGE, SGSN-MME, SGW, PGW) and wireless systems.</p>
              <p>Root cause analysis: Network analysis on Voice and data traffic to triage over millions of LTE, EVDO and CDMA interfaces, debug and troubleshoot system components and recover connection, reports of design, reliability and maintenance problems or errors in software engineering or design engineering.</p>
              <p>Soft Skills: Interact with Sprint customer technical staff, service engineers to report situations in which the support of front-line products has not been able to isolate and correct errors in equipment or software that malfunction.</p>
            </ul>
            <!--
            <button type="button" class="w-100 btn btn-lg btn-primary">Read more</button>
            -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal">Software Support Engineer</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <h4>Managed Network operations for AT&T, Verizon, Sprint and other Telecom Service providers.</h4>
              <p>Network support: Perform software optimization to 100000 ́s of Core & RAN network
                components (e.g VSE, vGWC, MGW, eBSC, CNM, CBM/CMT, CSP/CEMS) for CDMA North
                America Telecom Service Providers (TSP).</p>
              <p>Root cause analysis and Incident mgmt: Monitoring Customer network nodes according to
                the progress; Inspect and report of upgrade or firmware related issues found during the
                Software or Network ops.</p>
                <p>Soft Skills: Communicate to 10000 ́s On-Site Technicians for Multi-Vendor TSP to report
                  voice and data traffic status of Network activities.</p>
            </ul>
             <!--
            <button type="button" class="w-100 btn btn-lg btn-primary">Read more</button>
            -->
          </div>
        </div>
      </div>
    </div>

  </section>
  
<%- include("footer") -%>