  <!-- Links -->
  <section id="mediaLinks">
    
    <span class="material-symbols-outlined">mail</span>
    <a href="#">contactonavia@hotmail.com</a>
  
    <span class="material-symbols-outlined">person_search</span>
    <a href="https://www.linkedin.com/in/alberto-n-2b923a72/">LinkedIn</a>
  
    <span class="material-symbols-outlined">alternate_email</span>
    <a  href="https://www.instagram.com/conejotech/">ConejoTech</a>
</section>
</div>


<!-- Footer -->

<footer id="footer">

  <p>© Copyright 2022</p>

</footer>






<script src="" async defer></script>
</body>

</html>